<img src='missing.jpg' />

<h1>Data Wrangling</h1>

<h2>Table of content</h2>


<ul>
    <li><a href="#identify_handle_missing_values">Identify and handle missing values</a>
        <ul>
            <li><a href="#identify_missing_values">Identify missing values</a></li>
            <li><a href="#deal_missing_values">Deal with missing values</a></li>
            <li><a href="#correct_data_format">Correct data format</a></li>
        </ul>
    
</ul>

<h2>Missing value</h2>


<ul>
    <li><a href="What is a missing value?">What is a missing value?</a>
        <ul>
            <li><a href="#identify_missing_values">Missing values occur when no data value is stored for a variable (feature) in an observation.</a></li>
            <li><a href="#deal_missing_values">Can be represented as "?" "NaN", 0 or just a blank cell.</a></li>
            
        
    
</ul>

In [1]:
# importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

# loading csv file
data = pd.read_csv('auto.csv', names = headers)

# I will use the "pd.set_options" method to show all columns
pd.set_option('max_columns', 200)

# I will use the "head ()" method to display the first five rows of the dataframe
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Identify missing values

In [3]:
# Counting number of missing values
data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

<h2>Cautions when analyzing missing data</h2>


<ul>
    <li><a href="What is a missing value?">Ways to check for missing values</a>
        <ul>
            <li><a href="#identify_missing_values">We can use the "isnull, isna" methods to check for missing values</a></li>
</ul>


<ul>
    <li><a href="What is a missing value?">Cautions with missing values</a>
        <ul>
            <li><a href="#identify_missing_values">As we can see, the "isnull" method did not detect the missing values represented by "?", This was because the pandas library recognized by default missing values as "Nan"</a></li>
</ul>

<ul>
    <li><a href="What is a missing value?">Alternatives to these problems</a>
        <ul>
            <li><a href="#identify_missing_values">first option is to use the "value_counts" function The function returns unique values from a variable</a></li>
            <li><a href="#identify_missing_values">Second option, if we already know that the missing value is represented by "?", When importing csv, we can use the function 'na_values = "?"'</a></li>
</ul>

# First option

In [4]:
data['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
128     6
104     6
134     6
95      5
102     5
74      5
65      5
85      5
103     5
168     5
94      5
148     4
118     4
106     4
122     4
93      4
137     3
115     3
101     3
125     3
154     3
83      3
194     2
192     2
164     2
153     2
108     2
129     2
188     2
81      2
119     2
145     2
197     2
110     2
113     2
89      2
158     2
87      2
142     1
107     1
121     1
256     1
98      1
231     1
90      1
186     1
78      1
77      1
Name: normalized-losses, dtype: int64

#### As we can see, there are 41 missing values in the variable "normalized-losses" represented by "?"

# Second option

In [5]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

# loading csv file
data_2 = pd.read_csv('auto.csv', names = headers, na_values = "?")

# I will use the "pd.set_options" method to show all columns
pd.set_option('max_columns', 200)

# I will use the "head ()" method to display the first five rows of the dataframe
data_2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [6]:
data_2.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

#### After using and using the second option, we can see using "isnull ()" that missing values were found in the variables (normalized-losses, num-of-doors, bore, stroke, horsepower, peak-rpm, price)

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>
<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>
<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>
<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<h4>Replace ? by NaN</h4>

In [7]:
data_2.replace("?", np.nan, inplace = True)

<h4>Calculate the average of the column </h4>

In [8]:
avg_norm_loss = data_2["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)
print('=='*70)
avg_stroke = data_2["stroke"].astype("float").mean(axis=0)
print("Average of stroke:", avg_stroke)
print('=='*70)
avg_bore = data_2["bore"].astype("float").mean(axis=0)
print("Average of Bore:", avg_bore)
print('=='*70)
avg_horsepower = data_2["horsepower"].astype("float").mean(axis=0)
print("Average of horsepower:", avg_bore)
print('=='*70)
avg_peak_rpm = data_2["peak-rpm"].astype("float").mean(axis=0)
print("Average of peak-rpm:", avg_peak_rpm)
print('=='*70)

Average of normalized-losses: 122.0
============================================================================================================================================
Average of stroke: 3.2554228855721337
============================================================================================================================================
Average of Bore: 3.3297512437810957
============================================================================================================================================
Average of horsepower: 3.3297512437810957
============================================================================================================================================
Average of peak-rpm: 5125.369458128079
============================================================================================================================================

<h4>Replace "NaN" by mean value:</h4>

In [9]:
data_2['normalized-losses'].replace(np.nan, avg_norm_loss, inplace=True)
data_2['stroke'].replace(np.nan, avg_stroke, inplace=True)
data_2['bore'].replace(np.nan, avg_bore, inplace=True)
data_2['horsepower'].replace(np.nan, avg_horsepower, inplace=True)
data_2['peak-rpm'].replace(np.nan, avg_peak_rpm, inplace=True)

<h4>Finding the most frequent value of the "num-of-doors" variable</h4>

In [10]:
data_2['num-of-doors'].value_counts().idxmax()

'four'

<h4>Replace "NaN" value of most frequent:</h4>

In [11]:
data_2["num-of-doors"].replace(np.nan, "four", inplace=True)

<h4>Finally, lets drop all rows that do not have price data:</h4>

In [12]:
data_2.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
data_2.reset_index(drop=True, inplace=True)

data_2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0